<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    
    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>
<body class="bg-gray-100">
  <div class="flex justify-center items-center h-screen">
    <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-8">
        <% if (locals.error) { %>
            <p class="text-red-500"><%= error %></p>
        <% } %>
      <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">Sign In</h2>
      <form action="/signin" method="POST" class="space-y-6">

        <!-- Email Field -->
        <div>
          <label for="email" class="bg-white text-black block text-sm font-medium text-gray-700">Email</label>
          <input type="email" id="email" name="email" class="mt-1 bg-white text-black block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" placeholder="you@example.com" required />
        </div>
        <!-- Password Field -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <input type="password" name="password" id="password" class="mt-1 bg-white text-black block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" placeholder="********" required />
        </div>
       
        <!-- Submit Button -->
        <div>
          <button type="submit" class="w-full px-4 py-2 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
            Sign In
          </button>
          <p class="mt-2">Don't have an account ? <a class="text-blue-500" href="/signup">Signup</a></p>

        </div>
      </form>
    </div>
    
  </div>
</body>
</html>
 